<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">




<context-param>
   <param-name>contextConfigLocation</param-name>
   <param-value>
       /WEB-INF/security-app-context.xml
   </param-value>
</context-param>


<filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
</filter>

<filter-mapping>
  <filter-name>springSecurityFilterChain</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>


<listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>


    <servlet>
        <servlet-name>MashupServlet</servlet-name>
        <servlet-class>com.germinus.mashupbuilder.servlet.MashupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageServlet</servlet-name>
        <servlet-class>com.germinus.mashupbuilder.servlet.PageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrariesServlet</servlet-name>
        <servlet-class>com.germinus.mashupbuilder.servlet.LibrariesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSONPProxy</servlet-name>
        <servlet-class>com.germinus.mashupbuilder.servlet.JSONPProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Echo</servlet-name>
        <servlet-class>com.germinus.mashupbuilder.servlet.EchoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceCreatorServlet</servlet-name>
        <servlet-class>com.germinus.mashupbuilder.servlet.ServiceCreatorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RESTServiceServlet</servlet-name>
        <servlet-class>com.logica.mycocktail.servlet.RESTServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>AddNewRepoServlet</display-name>
        <servlet-name>AddNewRepoServlet</servlet-name>
        <servlet-class>com.germinus.ecm.servlet.AddNewRepoServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>GetRepoListServlet</display-name>
        <servlet-name>GetRepoListServlet</servlet-name>
        <servlet-class>com.germinus.ecm.servlet.GetRepoListServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>SearchServlet</display-name>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.germinus.ecm.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>GetContentStreamServlet</display-name>
        <servlet-name>GetContentStreamServlet</servlet-name>
        <servlet-class>com.germinus.ecm.servlet.GetContentStreamServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>WebServiceTesterServlet</display-name>
        <servlet-name>WebServiceTesterServlet</servlet-name>
        <servlet-class>com.logica.mycocktail.soap.WebServiceTesterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OMRServlet</servlet-name>
        <servlet-class>com.logica.mycocktail.servlet.OMRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WidgetLibrary</servlet-name>
        <servlet-class>com.logica.mycocktail.servlet.WidgetLibraryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MashupServlet</servlet-name>
        <url-pattern>/mashup/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageServlet</servlet-name>
        <url-pattern>/page/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrariesServlet</servlet-name>
        <url-pattern>/Libraries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSONPProxy</servlet-name>
        <url-pattern>/JSONPProxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Echo</servlet-name>
        <url-pattern>/Echo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceCreatorServlet</servlet-name>
        <url-pattern>/ServiceCreator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RESTServiceServlet</servlet-name>
        <url-pattern>/RESTService/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewRepoServlet</servlet-name>
        <url-pattern>/AddNewRepo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRepoListServlet</servlet-name>
        <url-pattern>/GetRepoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetContentStreamServlet</servlet-name>
        <url-pattern>/GetContentStream</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebServiceTesterServlet</servlet-name>
        <url-pattern>/WebServiceTesterServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OMRServlet</servlet-name>
        <url-pattern>/OMR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WidgetLibrary</servlet-name>
        <url-pattern>/WidgetLibrary</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
